.requestQuoteContainer {
    display: flex;
    height: 60vh;
    width: 100vw;

}

.requestQuote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    height: 60vh;
    width: 30vw;
}

.beforeAfter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 60vh;
    justify-content: center;
}


/* ---- ICONS ---- */
.emailIcon {
    color: white;
    /* size: 20px; */
}

.emailIcon:hover {
    color: #F46969;
}

/* ---- BORDERS ---- */
.redBorder {
    height: 0.3vh;
    background-color: #F46969;
    width: 100vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* ---- FONT STYLES ---- */
.homeText {
    font-size: 100px;
    color: white;
    font-weight: 700;
}

.homeTextRedU {
    font-size: 100px;
    color: #F46969;
    text-decoration: underline;
    font-weight: 700;
}
